[submodule "deploy"]
	path = deploy
	url = git@github.com:generalroboticslab/duke_humanoid_v2_deploy.git
[submodule "simulation"]
	path = simulation
	url = git@github.com:generalroboticslab/duke_humanoid_v2_simulation.git
